@import 'colours';

body { 
	background: $color2; 
}

.container {
	display: flex;
	flex-wrap: wrap;
	flex-flow: center;

	header { 
		min-width: 80%;
		background: $color1;
	}

	ul {
		list-style-type: none;
		li {
			display: inline;
			min-width: 150px;
		}
	}	

	.content {
		background: $color3;
		min-width: 400px;
		min-height: 200px;
	}
}

